.footer__column-link {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    padding:0;
    opacity: 1;
  }
  .footer__column-link:hover {
    opacity: .6;
    transition: transform .5s ease-out;
  }